<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Core.Google.GData.Extensions" version="1.0.2" targetFramework="net472" />
  <package id="GData.Spreadsheets.Helpers" version="2.2.0.0" targetFramework="net472" />
  <package id="GDataDB" version="0.6.1.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.66.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.66.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.66.0" targetFramework="net472" />
  <package id="Google.Apis.Sheets.v4" version="1.66.0.3148" targetFramework="net472" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net472" />
  <package id="Google.Gdata.Client.Core" version="1.0.2" targetFramework="net472" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net472" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net472" />
  <package id="System.Management" version="7.0.2" targetFramework="net472" />
</packages>